<div class="col-md-12">
  <% Professionnel.all.each do |professionnel| %>
    <div class="row row-spacing">
      <div class="col-md-3">
       <%= link_to professionnel.nom, professionnel_path(professionnel) %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Modifier', edit_professionnel_path(professionnel), :class => "btn btn-info btn-sm" %>
        <%= link_to 'Supprimer',professionnel, method: 'delete', data: { confirm: 'Est-ce-que vous êtes certain?' }, :class => "btn btn-danger btn-sm" %>
      </div>
    </div>
  <% end %>
  <div class="map-canvas"></div>
</div>


<%= javascript_tag do %>
  <!-- window.myMap.coords = <%#raw professionnel_coords.map { |p| {latitude: p.latitude, longitude: p.longitude}}.to_json %> -->
<% end %>