<div class="container">
  <section>
    <div class="col-md-10">
      <h1> 
        Professionnels de la santé
        <%= link_to 'Ajouter un nouveau profil', new_professionnel_path, :class => 'btn btn-success btn-sm pull-right' %>
      </h1>
      <%= render 'professionnels' %>
    </div>
  </section>
</div>
