<div class="container">
  <section>
    <h1> Professionnels de la santé</h1>

    <%= render 'professionnels' %>

    <%= link_to 'Ajouté un nouveau profil', new_professionnel_path %>
    
  </section>
  
</div>
